@keyframes moverDerecha {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(200px);
    }
  }
  
  
  
  
  .menu-caja{
    
    top: 0;
    left: 0;

width: 245px;
height:  auto;
margin-left: 3px;

position: fixed;
}






.caja-p {
    
 

background-image: linear-gradient(rgb(0, 0, 0), rgb(116, 203, 62), rgb(0, 0, 0))  ;   
    
background-position: center;

    border-radius: 8px;

    padding: 30px;


}


.menusidebar summary {

  
border-radius: 0;    
padding-right: 1px;
width: 4.2rem;    
list-style: none;
background-color: rgb(0, 0, 0);
color: rgb(241, 241, 241);
margin-bottom: 10px;
text-align: center;

padding-top: 10px;
}




.menusidebar p{

    padding: 20px;

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;

    color: antiquewhite;

    margin-bottom: 30px;

    border: 1px solid;

    border-radius: 5px;


}


p:hover{


color: rgb(223, 11, 11);


}




  


summary:hover{
    
    
    color: crimson;
    
    cursor: pointer;
    font-size: 18px;    
}

